################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj
/ConsoleApp1/bin/Debug/netcoreapp2.1
/.vs/ConsoleApp1/v15
/.vs/ConsoleApp1/DesignTimeBuild
